<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>CoffeeSlots - DoubleShot!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    {% if process.env.NODE_ENV === 'production' %}
      <link rel="stylesheet" href="/css/main.min.css">
    {% else %}
      <link rel="stylesheet" href="/css/main.css">
    {% endif %}

  </head>
  <body>
    {% if !access_token %}
      <nav class="navbar coffee-navbar">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/"></a>
          </div>
          <div class="collapse navbar-collapse" id="coffee-navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/phoenixbox">Shane Rogers</a></li>
            </ul>
          </div>
        </div>
      </nav>
    {% endif %}

    <div class="app container-fluid">
      {% block content %}{% endblock %}
    </div>

    {% if access_token %}
      <script>
        var __access_token = '{{access_token}}'
      </script>

      {% if process.env.NODE_ENV === 'production' %}
        <script src="/js/coffeeslots.min.js"></script>
      {% else %}
        <script src="/js/coffeeslots.js"></script>
      {% endif %}
    {% endif %}
  </body>
</html>
