// Vendor
@import "bootstrap/bootstrap.less";

// Utils
@import "utils/colors";
@import "utils/font-weights";
@import "utils/fonts";
@import "utils/grid";
@import "utils/mixins";
@import "utils/typography";
@import "utils/z-index";

// Components
@import "app";
@import "components/coffee-machine";
@import "components/control-panel";
@import "components/game-board";
@import "components/game-result";
@import "components/header";
@import "components/slot";
@import "components/result";
@import "pages/slot-machine";
@import "overrides";

html, body {
  color: @coffee-brand-primary;
  font-family: "Avenir-Next", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.app,
#coffeeslots,
.content {
  position: absolute;
  height: 100%;
  width: 100%;
}
